# Ignorar todos os arquivos de dados brutos e planilhas pesadas
*.csv
*.xlsx
data/brutos/

# EXCEÇÃO: Permitir o envio da base final limpa para o modelo
!base_RMS_final.csv

# Arquivos de cache do Python e Jupyter Notebook
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/

# Ambientes Virtuais (caso você use)
venv/
env/
.env

# Arquivos de sistema operacional
.DS_Store
Thumbs.db